body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d1e6b;
    box-sizing: border-box;
    color: white;
}

#nav-bar{
    margin: 0 auto;
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container{
    display: flex;
    align-items: center;
}

#logo-container img{
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

#nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    list-style: none;
    font-weight: bold;
}

#nav-items li{
    cursor: pointer;
}

li:hover{
    background-color: #6f639c;
    padding: 10px 15px;
}
